#------------------------------------------#DEBUG#------------------------------------------#
- name: DEBUG | Gather MAC address-table
  ios_command:
    commands:
      - show mac address-table
  tags: show_mac
  register: debug_show_mac
  ignore_errors: true

- name: DEBUG | Show MAC address-table
  debug:
    var: debug_show_mac
  tags: show_mac
#------------------------------------------#DEBUG#------------------------------------------#
